@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
:root
{
    --grey: #DFE2ED;
    --white: #FDFEFD;
    --blue1: #253064;
    --blue2: #203C6E;
    --blue3: #1B507F;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
}

aside
{
    position: fixed;
    width: 350px;
    height: 100%;
    background: var(--blue3);
    border-left: 10px solid var(--blue2);
    overflow: hidden;
    font-size: 1.5rem;
}

.header
{
    position: relative;
    width: 100%;
    height: 200px;
}

.header .logo
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    padding: 10px;
}

.header .logo img
{
    width: 90%;
    margin-bottom: 10px;
}

.header .logo .title
{
    position: relative;
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;
}

.header .hidden
{
    position: absolute;
    top: 20px;
    left: 10px;
    opacity: 0;
}
.header .hidden img
{
    width: 80%;
}
.menu ul
{
    position: absolute;
    top: 200px;
    margin-left: 30px;
    width: 310px;
}

.menu ul li
{
    position: relative;
    list-style: none;
}

.menu ul li a
{
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    text-decoration: none;
    color: var(--white);
    align-items: center;
    line-height: 50px;
}

.menu ul li a ion-icon
{
    margin-left: 20px;
}

.menu ul li a:hover
{
    background: var(--grey);
    color: var(--blue2);
    font-weight: bold;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-right: 5px solid var(--blue2);
}

.menu ul li a .title
{
    position: relative;
    display: block;
    padding: 10px 30px;
    height: 60px;
    line-height: 40px;
    text-align: center;
}

.logout 
{
    position: absolute;
    width: 50%;
    left: 70px;
    bottom: 40px;
}

.logout a 
{
    position: relative;
    width: 100%;
    height: 50px;
    padding: 10px 30px;
    display: flex;
    text-decoration: none;
    text-align: center;
    color: var(--white);
}

.logout a ion-icon
{
    padding-left: 10px;
    font-size: 30px;
}
.logout a:hover
{
    background: var(--grey);
    color: var(--blue2);
    font-weight: bold;
    border-radius: 10px;
}

main
{
    position: absolute;
    height: 100%;
    left: 350px;
    width: calc(100% - 350px);
}


@media only screen and (max-width: 1200px){

	aside {
		position: fixed;
		height: 100%;
		width: 100px;
		display: block;
		margin-bottom: 40px;
		z-index: 1000;
        translate: 0.3s;
	}
	main {
		position: absolute;
        width: calc(100% - 100px);
		left: 100px;
	}

    .logo{
        opacity: 0;
    }
    .header .hidden{
        opacity: 1;
    }

    .menu ul
    {
        top: 200px;
        margin-left: 15px;
    }
    .menu ul li a ion-icon
    {
        margin-left: 10px;
        font-size: larger;
    }
    .menu ul li a .title
    {
        opacity: 0;
    }

    .menu ul li a:hover
    {
        background: none;
        color: var(--white);
        font-size: larger;
        font-weight: bold;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-right: none;
    }

    .logout{
        left: 10px;
    }

    .logout a .title{
        opacity: 0;
    }
    .logout a{
        position: absolute;
        right: 15px;
        font-weight: bold;
    }
    .logout a ion-icon{
        position: absolute;
        bottom: 30px;
        left: 35px;
    }
    .logout a ion-icon:hover{
        font-size: larger;
    }
    .logout a:hover{
        background: none;
        color: var(--white);
        border-radius: 0px;
        font-size: larger;
    }

}