.background
{
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.background-image
{
    position: fixed;
    width: calc(100% - 350px);
    height: 100%;
    background-image: url(image/background2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.title-container
{
    position: absolute;
    width: 100%;
    padding: 20px 70px;
}

.title-container .title
{
    font-size: 50px;
    color: var(--white);
    font-weight: bold;
    height: 10%;
}


.content-container
{
    position: absolute;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    background: rgba(255,255,255,.8);
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
}

.content-container input[type=text] 
{
    width: 85%;
    padding: 10px;
    font-size: 20px;
}

.content-container input[type=text].add-task
{
    position: absolute;
    bottom: 0px;
    border: 1px solid #008CBA;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}

.content-container .task-button
{
    padding:13px 32px;
    border: 1px solid #008CBA;
    background-color: #008CBA;
    color: white;
    position: absolute;
    right:0px;
    bottom:0px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
}

.content-container .task-button:hover
{
    border: 1px solid rgb(32, 30, 130);
    background-color: rgb(32, 30, 130);
    color: white;
}




.content-container ul
{
    position: absolute;
    top: 20px;
    left: 40px;
    height: calc(100% - 40px);
    width: calc(100% - 80px);
    overflow-y: auto;

}

.content-container ul li 
{
    position: relative;
    list-style: none;
    border: 1px solid var(--blue1);
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    height: 50px;

}
.content-container ul li .Announcement-info
{
    position: absolute;
    width:85%;
    height: 50px;
    
}

.content-container ul li .Task-info
{
    position: absolute;
    width:100%;
    height: 50px;
    
}

.content-container ul li .Announcement-info a
{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 20px;
    color: var(--blue1);
    overflow: hidden;
}

.content-container ul li .Task-info .dolist
{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 20px;
    color: var(--blue1);
    overflow: hidden;
}


.content-container ul li .Announcement-info  .tasks
{
    position: relative;
    width: 117%;
    height: 50px;
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 20px;
    color: var(--blue1);
    overflow: hidden;
}

.content-container ul li .Announcement-info a .detail
{
    position: relative;
    width: 70%;
    padding-left: 20px;
}

.content-container ul li .Task-info  .detail
{
    position: relative;
    width: 70%;
    padding-left: 20px;
}

.content-container ul li .Task-info .task
{
    position: absolute;
    left: 10%;
    width: 70%;
    padding-left: 20px;
}

.content-container ul li .Task-info .status
{
    position: absolute;
    left: 50%;
    width: 70%;
    padding-left: 20px;
}

.content-container ul li .Announcement-info a .date
{
    position: absolute;
    width: 70%;
    left: 35%;
    padding-left: 10px;
}

.content-container ul li .Announcement-info a .time1
{
    position: absolute;
    width: 70%;
    left: 70%;
    padding-left: 10px;
}

.content-container ul li .Announcement-info a .time2
{
    position: absolute;
    width: 70%;
    left: 82%;
    padding-left: 10px;
}

.content-container ul li .Announcement-info a .tutor
{
    position: relative;
    width: 30%;
    padding-right: 20px;
}
.content-container ul li .edit-announcement
{
    position: absolute;
    left: 90%;
    width: 5%;
    display: flex;
    justify-content: center;
}

.content-container ul li .delete-announcement
{
    position: absolute;
    left: 95%;
    width: 5%;
    display: flex;
    justify-content: center;
}

.content-container ul li .delete-task
{
    position: absolute;
    right: 15px;
    width: 5%;
    display: flex;
    justify-content: center;
    
}

.content-container ul li .complete-task
{
    position: absolute;
    right: 50px;
    width: 5%;
    display: flex;
    justify-content: center;
    
}

.content-container ul li ion-icon
{
    font-size: 1.5rem;
    color: var(--blue1);
}

.content-container ul li ion-icon:hover
{
    font-size: 2rem;
    color: var(--white);
    background: var(--blue1);
    border-radius: 10px;
}

.back-button
	{
		position: absolute;
		bottom: 20px;
		left: 20px;
		width: 20%;
	}

	.back-button ion-icon
	{
		color: var(--white);
		font-size: 4rem;
	}

.function-icon
{
    position: absolute;
    right:5%;
    top: 45%;
    width: 5%;
    display: flex;
    align-items: center;
    justify-items: center;
}

.function-icon ion-icon
{
    font-size: 4rem;
    color: var(--blue1);
}
.function-icon ion-icon:hover
{
    font-size: 5rem;
}

.function-icon ion-icon:hover
{
    font-size: 5rem;
    color: var(--blue1);
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}




@media only screen and (max-width: 1200px){
    .background-image{
        width: calc(100% - 100px);
    }
}