#chat_room {
  font-family: Arial, sans-serif;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 10 px;
  border: 1px solid grey;
  padding: 10px;
}
#send_msg {
  /* style for send button */
  padding: 5px;
  font-family: monospace;
  font-size: 16px;
  width: 100px;
  left: 150px;
  border: 3px solid whitesmoke;
  background-color: #5c7cfa;
  border-radius: 10px;
  color: white;
  
}
#textarea {
    border: 3px solid white;
    border-bottom: 3px solid grey;
    font-family: monospace;
    width: 40%;
    padding: 16px;
    color: black;
  }
  