.background
{
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.background-image
{
    position: fixed;
    width: calc(100% - 350px);
    height: 100%;
    background-image: url(image/background2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.title-container
{
    position: absolute;
    width: 100%;
    padding: 20px 70px;
}

.title-container .title
{
    font-size: 50px;
    color: var(--white);
    font-weight: bold;
    height: 10%;
}

.content-container
{
    position: absolute;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    background: rgba(255,255,255,.8);
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    padding: 5%;
}

.content-container form
{
    position: relative;
    width: 100%;
    height: 100%;
}
.drop-zone {
    position: relative;
    height: 100%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: var(--blue2);
    border: 4px dashed var(--blue1);
    border-radius: 10px;
  }
  
  .drop-zone--over {
    border-style: solid;
  }
  
  .drop-zone__input {
    display: none;
  }
  
  .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }
  
.content-container form input[type="submit"]
{
    position: absolute;
    bottom: -50px;
    height: 30px;
    left: calc(50% - 50px);
    width: 100px;
    display: flex;
    justify-content: center;
}
.dropdown
{
    position: absolute;
    display: inline-block;
    top: 20%;
    right: 60px;
}

.dropdown ion-icon
{
    font-size: 50px;
    color: var(--white);
    display: inline-block;
}

.dropdown-content
{
    display: none;
    position: absolute;
    top: calc(15% + 30px);
    right: 0px;
    width: 200px;
    max-height: 400px;
    background: rgba(255,255,255,.8);
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    z-index: 1;
    padding: 10px 10px;
}

.dropdown-content ul
{
    position: relative;
    width: 100%;
}

.dropdown-content ul li
{
    position: relative;
    width: 100%;
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--blue1);
    margin-bottom: 10px;
    text-align: center;
}

.dropdown-content ul li:hover
{
    background-color: var(--white);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    font-size: larger;
}

.dropdown-content ul li a
{
    text-decoration: none;
    color: var(--blue1);
}

.dropdown ion-icon:hover 
{
    color: var(--blue3);
}

.dropdown:hover .dropdown-content
{
    display: block;
}

@media only screen and (max-width: 1200px){
    .background-image{
        width: calc(100% - 100px);
    }
}