body
{
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	letter-spacing: 1px;
}

section
{
	width: 100%;
	height: 100vh;
	background: url(Ariel-View-Campus2.jpg);
	background-size: cover;
}

.container
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 340px;
	text-align: center;
}

.login-form
{
	position: relative;
	box-sizing: border-box;
	padding: 60px 30px;
	transition: .5s;
}

.login-form:hover
{
	background: rgba(255, 255, 255, .1);
	box_shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.login-form h1
{
	margin: 0 0 20px;
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
}

.login-form input 
{
	display: block;
	width: 100%;
	padding: 10px 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
	border-radius: 25px;
	outline: none;
	
	letter-spacing: 1px;
	color: #fff;
	text-transform: uppercase;
	border: none;
	background: rgba(255, 255, 255, .1);
	font-family: 'Helvetica', sans-serif;
}

.login-form input::placeholder
{
	color: #fff;
	font-size: 10px;
}

.login-form input[type="submit"]
{
	color: #fff;
	background: #0072ff;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.login-form input[type="submit"]:hover
{
	background: #005aca;
}

.login-form a
{
	text-decoration: none;
	color: #fff;
}

img 
{

	width: 55%;
	margin-top: 50px;
}








