.background
{
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.background-image
{
    position: fixed;
    width: calc(100% - 350px);
    height: 100%;
    background-image: url(image/background2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#student{
	font-size:30px;
    width:770px;
	height:50px;
}

#start{
	font-size:30px;
    width:770px;
	height:50px;
}

#end{
	font-size:30px;
    width:770px;
	height:50px;
}

.title-container
{
    position: absolute;
    width: 100%;
    padding: 20px 70px;
}

.title-container .title
{
    font-size: 50px;
    color: var(--white);
    font-weight: bold;
    height: 10%;
}

.content-container
{
    position: absolute;
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
    background: rgba(255,255,255,.8);
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    padding: 30px;
}
.content-container form
{
    position: relative;
    width: 100%;
    height: 100%;
}
.content-container label
{
    font-size: 2rem;
}

#result
{
    height: 75%;
    overflow-y:scroll;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    resize: none;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.content-container input[type=text] 
{
    width: 100%;
    height: 10%;
    padding: 10px;
    font-size: 20px;
    
}

#send_msg {
    /* style for send button */
    position: relative;
    
    width: 100%;
    height: 40px;
    
  }

.dropdown
{
    position: absolute;
    display: inline-block;
    top: 20%;
    right: 60px;
}

.dropdown ion-icon
{
    font-size: 50px;
    color: var(--white);
    display: inline-block;
}

.dropdown-content
{
    display: none;
    position: absolute;
    top: calc(15% + 30px);
    right: 0px;
    width: 200px;
    max-height: 400px;
    background: rgba(255,255,255,.8);
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    z-index: 1;
    padding: 10px 10px;
}

.dropdown-content ul
{
    position: relative;
    width: 100%;
}

.dropdown-content ul li
{
    position: relative;
    width: 100%;
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--blue1);
    margin-bottom: 10px;
    text-align: center;
}

.dropdown-content ul li:hover
{
    background-color: var(--white);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    font-size: larger;
}

.dropdown-content ul li a
{
    text-decoration: none;
    color: var(--blue1);
}

.dropdown ion-icon:hover 
{
    color: var(--blue3);
}

.dropdown:hover .dropdown-content
{
    display: block;
}

.back-button
{
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 20%;
}

.back-button ion-icon
{
    color: var(--white);
    font-size: 4rem;
    
}

@media only screen and (max-width: 1200px){
    .background-image{
        width: calc(100% - 100px);
    }
}